@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
	--CL-primary-orange: #ff7e4b;
	--CL-primary-green: #36c929;
	--CL-primary-blue: #6369d115;
	--CL-primary-blue-accented: #4b57ff;

	--CL-neutral-white: #ffffff;
	--CL-neutral-black: #000000;
	--CL-neutral-transparent-black: #00000062;

	--FF-primary-poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	place-items: center;
	font-family: var(--FF-primary-poppins);
	padding: 1em 0;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
button {
	width: 100%;
	font-family: var(--FF-primary-poppins);
}

/* Stopwatch */
.stopwatch {
	width: min(95%, 50rem);
	border-radius: 1em;
	padding: 2em;
}

.stopwatch__header {
	display: flex;
	justify-content: center;
	padding: 2em 0;
}

.stopwatch__number {
	font-size: calc(5rem + 3vw);
	font-weight: bold;
	color: var(--CL-primary-blue-accented);
}

.stopwatch__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.stopwatch__button {
	padding: 1em;
	border-radius: 1.25em;
	border: none;
	background-color: var(--CL-primary-blue-accented);
	color: white;
	box-shadow: 0 0 5px var(--CL-neutral-transparent-black);
	font-size: calc(1rem + 0.5vw);
	cursor: pointer;
	transition: background-color 0.15s ease-out;
}

@media (min-width: 768px) {
	.stopwatch__button:hover {
		background-color: var(--CL-neutral-black);
	}
}
