@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
	--CL-primary-red: #ff4b4b;
	--CL-primary-green: #1fb811;
	--CL-primary-blue: #6369d115;
	--CL-primary-blue-accented: #4b57ff;

	--CL-neutral-white: #ffffff;
	--CL-neutral-black: #000000;
	--CL-neutral-transparent-black: #00000062;

	--FF-primary-poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	place-items: center;
	font-family: var(--FF-primary-poppins);
	padding: 1em 0;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
button {
	width: 100%;
	font-family: var(--FF-primary-poppins);
}

/* General Styles */
.color-green {
	color: var(--CL-primary-green);
}

.color-red {
	color: var(--CL-primary-red);
}

.color-black {
	color: var(--CL-neutral-black);
}

.fw-bold {
	font-weight: bold;
}

/* Game Styles */
.game {
	width: min(95%, 45rem);
	box-shadow: 0 0 5px var(--CL-neutral-transparent-black);
	border-radius: 2em;
	text-align: center;
	padding: 2em;
}

.game__header {
	margin: 2em 0;
}

.game__title {
	font-size: calc(1.5rem + 2vw);
	line-height: 1;
}

.game__description {
	font-size: 2rem;
}

.game__system {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	margin: 2em 0;
}

.game__element {
	font-size: calc(2rem + 1vw);
	padding: 0.65em 0;
	cursor: pointer;
	border: none;
	border-radius: 0.25em;
	box-shadow: 0 0 5px var(--CL-neutral-transparent-black);
}

.game__result {
	font-size: 1.75rem;
	font-weight: bold;
	padding: calc(0.85em + 0.5vh) 0;
	display: none;
}

.game__element:hover {
	background-color: var(--CL-neutral-black);
}

.game__score {
	display: flex;
	justify-content: space-between;
}

.game__score--points {
	font-size: calc(1.25rem + 0.5vw);
}
